html, body {
    height: 100%;
    margin: 0;
    background-color: #F0F0F0;
}
main{
    height: 79%;
    overflow: auto;
}

.message-box{
    color: black;
    background: white;
    border-radius: 5px;
    padding: 1%;
    font-weight: bold;
    font-style: italic;
}

.input-text{
    background-color: transparent;
    margin-left: 3%;
    width: 93%;
    height: 15%;
    resize: none;
    border: 0px solid;
    outline: none;
}
.container-text-input{
    background-color: white;
    display: flex;
    border-radius: 40px;
    margin: auto;
    border: solid 1px black;
    justify-self: center;
    width: 70%;
    align-items: center;
}
.icon-button{
    border: solid 0px;
    background-color: transparent;
}